:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text colors */
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --text-color: #ffffff;

  /* bg-color */
  --bg-cl: #2f303a;
}

.body {
  font-family: var(--main-font);
  background: #f5f4fa;
  color: var(--primary-color);
}

.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 12);
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.header-link-current:hover,
.header-link-current:focus,
.header-link:hover,
.header-link:focus,
.contact-current:hover,
.contact-current:focus,
.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

.header-link-current,
.header-link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.contact,
.contact-current {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 12);
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.web {
  color: var(--accent-color);
  text-decoration: none;
}
.logo {
  color: #000;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.header-link {
  color: var(--primary-color);
}

.header-link:active {
  color: var(--accent-color);
}

/* section */
.grey-style-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color);
}

.grey-style {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: var(--bg-cl);
}

.btn:hover,
.btn:focus {
  background-color: #188ce8;
  color: var(--text-color);
}
.btn:active {
  background-color: var(--accent-color);
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  background-color: #188ce8;
  color: var(--text-color);
  border: none;
}

.content-tl {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.content-tx {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.content-tl-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.button-one:active {
  color: var(--text-color);
}
.button {
  border: none;
}

/* section */
.btn-small:hover,
.btn-small:focus {
  background-color: #188ce8;
  color: var(--text-color);
}

.btn-small:active {
  background-color: var(--accent-color);
}
.btn-small {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background-color: #188ce8;
  color: var(--text-color);
  border: none;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}
.content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.content-tl-thre {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.content-tx-thre {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.grey-style {
  background-color: var(--bg-cl);
}

/* footer */
.footer-logo {
  color: var(--text-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.footer-adress {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.foot-grey-style {
  font-style: normal;
  background-color: var(--bg-cl);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.contact-foot:hover,
.contact-foot:focus {
  color: var(--text-color);
}
.contact-foot {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
